/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Starting styles after CSS Reset */
/* Starting with Mobile First as recommended */
/* After I will set up all the foundation like background, colour, font, font-size, and label the colours of the page to make things easier later */

/* Setting the body according to the requirements, body means the whole page and general informations of it */
body{
    background-color: #f3f0e9;
    font-family: "Karla", sans-serif;
    color: #000000;
}

/* Setting the font for headings and nav to make everything in the correct typography */
h1, h2, h3, nav a {
    font-family: "Lato", sans-serif;
}

/* Setting the default sizes for each heading and paragraph to help to adjust further accordingly 
I know I don't have h3, but just in case if I have in the future it is already settled */
h1{
    font-size: 2.027rem;
}

h2{
    font-size: 1.802rem;
}

h3{
    font-size: 1.424rem;
}

p{
    font-size: 1rem;
}

/* :root means the root of the document, this will make my custom properties available to the whole page (as a entire thing) 

Base colours of the page: */
:root{
    --white: #ffffff;
    --black: #000000;
    --gold: #d69e3d;
    --brown: #966f2c;
    --beige: #f3f0e9;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem; /* 1.5rem means 1.5x (about 150%) of the font-size proportionally. The first value is top-bottom and the second is left-right */
    background-color: var(--black);
}

header img{
    margin-bottom: 1.5rem;
}

nav ul{
    display: flex; /* As a default flex is a row, which means this tag organizes things horizontally from left to right */
    gap: 3rem; /* to create spaces between elements of nav "about us" "menu" "locations" instead of doing margin for each */
}

nav a{
    text-decoration: none; /* to remove the underline of the nav */
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.2s ease-in-out; /* I did this to make more similar than the youtube video displayed for us as an example, when I notice that they have a smoothly transition of the colour when you hover and leave the "button" of this nav */
}

nav a:hover{
    color: var(--gold);
}