/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Starting styles after CSS Reset */
/* Starting with Mobile First as recommended */
/* After I will set up all the foundation like background, colour, font, font-size, and label the colours of the page to make things easier later */

/* Setting the body according to the requirements, body means the whole page and general informations of it */
.wrapper{ /* In the end, I realized that my content was not in the center, then I saw the instructor of the wrapper with this max-widht so I did to stay in the requirements, even I know there are some things wrong that I didn't know how to fix properly */
    max-width: 1200px;
    margin: 0 auto;
}

.skip-link{
    position: absolute; /* take the element out of regular flow of the page and allows to position manually */
    top: -50px; /* to hidden in the screen for somewhere at the top of the page until receive the focus */
    left: 0; /* put into the left side of the page */
    color: var(--white);
    padding: 0.5rem 1rem;
    z-index: 100; /* to appear in front of everything */
    transition: top 0.2s ease-in-out; /* to animate the link when receive focus with "tab" getting down smoothly */
}

.skip-link:focus{
    top: 0;
}

body{
    background-color: #f3f0e9;
    font-family: "Karla", sans-serif;
    color: #000000;
}

/* Adding a global transition to accomplish this part of the requirement in these buttons below */
a,
button,
.button-banner,
.button-menu,
.button-location,
.button-about {
    transition: all 0.3s ease-in-out; /* all to apply in all buttons, the duration of this action is 0.3s, and ease-in-out is to start and finish smoothly */
}

/* Setting the font for headings and nav to make everything in the correct typography */
h1, h2, h3, nav a {
    font-family: "Lato", sans-serif;
}

/* Setting the default sizes for each heading and paragraph to help to adjust further accordingly 
I know I don't have h3, but just in case if I have in the future it is already settled */
h1{
    font-size: 2.027rem;
}

h2{
    font-size: 1.802rem;
}

h3{
    font-size: 1.424rem;
}

p{
    font-size: 1rem;
}

/* :root means the root of the document, this will make my custom properties available to the whole page (as a entire thing) 

Base colours of the page: */
:root{
    --white: #ffffff;
    --black: #000000;
    --gold: #d69e3d;
    --brown: #966f2c;
    --beige: #f3f0e9;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 1rem; /* 1.5rem means 1.5x (about 150%) of the font-size proportionally. The first value is top-bottom and the second is left-right */
    background-color: var(--black);
}

header img{
    margin-bottom: 1.5rem;
}

nav ul{
    display: flex; /* As a default flex is a row, which means this tag organizes things horizontally from left to right */
    gap: 3rem; /* to create spaces between elements of nav "about us" "menu" "locations" instead of doing margin for each */
}

nav a{
    text-decoration: none; /* to remove the underline of the nav */
    color: var(--white);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.2s ease-in-out; /* I did this to make more similar than the youtube video displayed for us as an example, when I notice that they have a smoothly transition of the colour when you hover and leave the "button" of this nav 
    The transition needs to be here because it is the base state of the property, not just a temporary stage as a hover */
}

nav a:hover{
    color: var(--gold);
}

/* Starting the hero banner part with an opacity fill over it */
.banner{
    position: relative; /* relative to make this as a reference for the overlay further */
    width: 100%;
    min-height: 380px;

    /* adjusting the text box it will be over the image and overlay */
    padding: 4rem 1.5rem; /* the space for the text related to the image */
    text-align: center; 
    color: var(--white);

    /* to put the text right in the center bacuse it was a little bit at the top */
    display: flex;
    flex-direction: column; /* stack up h1, p and the button, one below the other */
    justify-content: center;
    align-items: center;
}

.banner img{
    width: 100%; /* the whole width available of the banner */
    height: 100%; /* to make sure that things will maintain proporcionally */
    display: block; /* to garantee that will not have any obsolete space, to make the image stable */
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /* fill the area available without distorcion in a nice way, even if it needs to crop a little bit */
    z-index: -2; /* send the image to back */
}

.banner::after{
    content: "";
    position: absolute; /* to make the overlay in front of the image but related to the relative position previously */
    background-color: rgba(0, 0, 0, 0.45);
    /* top and left to don't create spaces in this overlay, just fill the whole image */
    top: 0;
    left: 0;
    /* to fill the whole banner image */
    width: 100%; 
    height: 100%;
    z-index: -1; /* to keep the overlay between the image and the text */
}

.banner h1, .banner p, .banner .button-banner{
    position: relative;
    z-index: 1;
}

.banner h1{
    text-transform: uppercase;
    font-weight: 900; 
    margin-bottom: 1rem; /* the space in the bottom of the h1 to the paragraph*/
}

.button-banner{
    /* styling the button accord to the mockup */
    background-color: var(--white); /* create a background like a highlight in the text of the button */
    color: var(--black); /* then, this is the colour of the text */
    padding: 0.85rem 2rem; /* this makes the highlightet (bg colour) bigger and the proper size of the button styles */
    text-transform: uppercase; /* to make the text uppercase without change de HTML */
    text-decoration: none; /* to remove the underline default of the a href */
    font-weight: 900; /* I did the same because I tought bold isn't enough, so I tried many numbers and this looks more similar to the mockup for me */
    margin-top: 1.5rem; /* to create a space between the paragraph and the button */
}

.button-banner:hover{
    /* style the hover state as shown in the youtube video, which is, a thin white border, bg colour gold and the font white */
    background-color: var(--gold);
    color: var(--white);
    border: 2px solid var(--white);
}

/* Styling the Welcome Section */
.welcome{
    padding: 5rem 0.5rem; /* the space between sections, after hero and the start of the welcome */
}

.welcome p{
    text-transform: uppercase;
    font-size: 1.3rem; /* I used this size accord to the recommended but it wasn't closer enough so I tried different ones until find which looks similar for me */
    font-weight: 500; /* same as later, I tried many numbers and which made more similar I keep it */
    color: var(--gold);
    margin-bottom: 0.5rem; /* the space between this text to the h2 */
    letter-spacing: 0.5px;
}

.welcome h2{
    /* I'm not gonna do the text-trasnform to uppercase because this especifically is already uppercase in HTML because it was like this in the content that I received */
    font-size: 2rem; /*I tried the value of the recommendation but it wasn't similar to me, so I tried this one to be closer */
    font-weight: 700;
    color: var(--black);
    line-height: 1.3; /* to create some space between the lines of this title */
    margin-bottom: 1rem; /* to give some space from the end of this title to the picture below */
}

/* Start to styling the images for the Welcome Section */
/* 1st image: a square aligned with the text above */
.coffeeimg img:first-child{
    width: 100%;
    max-width: 550px; /* Honestly, I found this value by trying numbers and what came closer to te mockup, I left it */
    margin-bottom: 1rem;
    grid-column: 1 / -1; /* maintain the frist image fill the entire fisrt column, without moving the other ones to come close to it after grid*/
}

.coffeeimg{
    /* this creates the colunm for the others images except the 1st one, which means repeat 2 columns proportionally */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.coffeeimg img:not(:first-child){
    /* this means move the images but not the frist one 
    the goal is position the 2 to 5 image fits under the frist image, in two columns and they tweo should have align horizontally the size fo the first image */
    width: 100%;
    max-width: 350px; /* This size was the size that fits better to align to the first image */
}

/* Start styling the Visit Section, which is all the content aligned center to the other content of the page, and one icon under other */
.visit{
    text-align: center;
    padding: 2rem 1rem; /* to create some space between sections */
}

.visit > p{
    /* to move the direct child (>) of the class visit, which is a paragraph and to do this I used this sign >, this just works to elements inside of the class */
    text-transform: uppercase;
    font-size: 1.3rem;
    color: var(--gold);
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.visit > h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem; /* I know I can use just margin, but the values always makes me confuse, and I don't remeber which is top, bottom, left and right. And, margin-top or margin-bottom is more clear to me to understand that I'm moving a space for the bottom or for the top of something */
}

.visit div{
    /* adjusting the div of the visit class as a whole to adjust the margin */
    margin-bottom: 3rem;
}

.visit div img{
    width: 200px;
    margin-bottom: 1.5rem; /* create a space between the icon and the h2 and p after */
}

.visit div h2{
    text-transform: uppercase;
    font-size: 1.8rem; /* I tried 2rem as I'm doing for all h2 but looks too much for this following the mockup, so I chosse by looking a little bit less to make more similar to the mockup */
    font-weight: 700;
    margin-bottom: 0.8rem; /* Same here. I was testing values and which looks similar to the mockup, I keep it.*/
}

.visit div p{
    font-size: 1.3rem;
    line-height: 1.2; /* I adjust this to enhance the readability, crating some space between the lines of the paragraph */
    margin-bottom: 4rem; /* to increase the space between the end of the paragraph to the beginning of the next icon */
}

/* Starting the Menu and Locations section which is another banner, with an overlay, text and button on it */
.menu{
    position: relative; /* To tell that this is the reference for the positions further */
    min-height: 600px; /* the size of the image in the space that I have */
    display: flex; /* As a default flex is a row, so we have to put things in column telling this */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; /* to hidden extra content after the size that I set it, like cut what's exceed */
    margin-bottom: 6rem; /* the space between sections, which means this section has some space before the next starts */
}

.menu img{
    position: absolute;
    inset: 0; /* to fill the whole container */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1; /* to establish the layer for the overlay, which means: 1st image, then overlay, then text, one above another */
}

.menu::after{
    content: "";
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    inset: 0;
    z-index: 2; /* this means the overlay is above the image that's why is 2, because the image's z-index is 1 */
}

.menu > div{
    position: relative;
    z-index: 3; /* this means the text is above everything that's why is 3 */
    margin-bottom: 5rem; 
}

.menu p{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gold);
    margin-bottom: 0.5rem;
}

.menu h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 3rem; /* the space between the h2 to the botton below */
}

.button-menu{
    /* I just copy and paste the style that I did for the hero section banner because they're the same. I hope I'm not doing something that I can't */
    /* styling the button accord to the mockup */
    background-color: var(--white); /* create a background like a highlight in the text of the button */
    color: var(--black); /* then, this is the colour of the text */
    padding: 0.85rem 2rem; /* this makes the highlightet (bg colour) bigger and the proper size of the button styles */
    text-transform: uppercase; /* to make the text uppercase without change de HTML */
    text-decoration: none; /* to remove the underline default of the a href */
    font-weight: 900; /* I did the same because I tought bold isn't enough, so I tried many numbers and this looks more similar to the mockup for me */
    margin-top: 1.5rem; /* to create a space between the paragraph and the button */
    margin-bottom: 10rem;
}

.button-menu:hover{
    /* style the hover state as shown in the youtube video, which is, a white border, bg colour gold and the font white */
    background-color: var(--gold);
    color: var(--white);
    border: 3px solid var(--white);
}

.button-location{
    border: 3px solid var(--white);
    background-color: transparent; /* Without this it was not background, but I feel safer to include this explaining that there's no background colour for this button */
    color: var(--white);
    padding: 0.85rem 2rem; /* I did the same padding of the .button-menu and I don't know why looks different, but I'll keep it just to be safe */
    text-transform: uppercase;
    text-decoration: none; /* remove the underline */
    font-weight: 900;
}

.button-location:hover{
    /* style the hover state as shown in the youtube video, which is, exaclty like the non-hover for the .button-menu. Background white and colour black for the text */
    background-color: var(--white);
    color: var(--black);
}

/* Starting styling the About Us section */
.about img{
    width: 100%;
    height: auto;
    display: block; /* removes the extra space and makes the image behave like a block element */
    margin-bottom: 1.5rem;
}

.about{
    padding: 0.5rem; /* all 4 sides (top, right, botton, left) has the same value*/
    margin-bottom: 5rem; /* To create space from this section to the next one */
}

.about > p:first-of-type{ /* this means the first <p> tag that .about has, to don't change the other <p> tags that has below */
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--gold);
    margin-bottom: 0.8rem;
}

.about h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 0.8rem;
}

.about p{ /* this changes just the other <p> tags that I have on HTML */
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: var(--black);
    font-size: 1.2rem;
}

.button-about{
    /* This is the style of the button, which is black as bg, font white and uppercase. The padding adjust the size of the rectangle (the button specifically) and I left the same as the other ones to maintain the design, and same for the font-weight and other propeties to design the text according to the example */
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.85rem 2rem;
    font-weight: 900;
    margin-top: 1em;
}

.button-about:hover{
    background-color: var(--brown); /* I choose brown because looks more similar to the mockup than gold */
}

/* Starting the Testimonialls part, which has a black background and all the informations on it */
.testimonials{
    background-color: var(--black);
    color: var(--white);
    padding: 6rem 0.5rem; /* to adjust the size of the black area as a bg*/
}

.testimonials > p:first-of-type{
    /* This is for adjust just the word "testimonials" as subtitle at the top, because I have another paragraphs as the testimonials text and I don't want to change them with this features */
    color: var(--gold);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.testimonials h2{ /* I don't need any specification (as I did for the p) because there's just one h2 in this section */
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

/* here I'm adjusting the images for each person and the text on the images. I prefer to split for each person to understand better instead of just do the same class for every person */
.jane,
.scott,
.susie{
    position: relative;
    margin-bottom: 1rem;
}

.jane img{
    width: 100%;
    aspect-ratio: 1 / 1; /* to make the image square. I know it's not square exactly, but I tried other aspects and becames far from the mockup, so I left like this to be safe */
    display: block;
    object-fit: cover;
}

.scott img,
.susie img{
    width: 100%;
    aspect-ratio: 1 / 1; /* to make the image square */
    display: block;
    object-fit: cover;
    object-position: top; /* to tell them that I want the cut start from the bottom to the top, to don't cut the heads but the shirts, but for jane cut the head that's why I didn't with her */
}

/* The overlay on the images with a opacity */
.jane::after,
.scott::after,
.susie::after{
    content: "";
    position: absolute;
    inset: 0; /* to fill the entire image */
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1; /* To put in front of the image */
}

.jane p:first-of-type,
.scott p:first-of-type,
.susie p:first-of-type{
    position: absolute; /* If I just do position:abolute and don't tell where, nothing is gonna happen based on the relative that I had before for them, so for this reason I did the positions: bottom, left and right, to adjust the text on the image and where it gonna be */
    bottom: 3.5rem;
    left: 1.5rem;
    right: 1.5rem;
    color: var(--white);
    font-size: 1rem;
    z-index: 2; /* To bring the text in front of the overlay */
}

.jane p:last-of-type,
.scott p:last-of-type,
.susie p:last-of-type{
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    color: var(--gold);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    z-index: 2; /* To bring the text in front of the overlay */
}

/* Footer of the page, maintain the black bg and a thin beige line spliting the sections (testimonials to footer) */
footer{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 3rem 0;
}

footer::before{
    content: "";
    display: block;
    width: calc(100% - 1.5rem); /* I did this cal to find the size of the line, like 100% he size I used everytime, and I was trying different numbers in the rem until find this 1.5 which looks similar to the mockup for me */
    margin: 0 auto 1rem auto;
    border-top: 2px solid rgba(61, 52, 38, 0.5); /* I didn't know which colour is this one because anyone was the same to the mockup, so I was picking random colours from the selector here, and which one looks similar for me I left it */
}

/* Starting Media Query */

/* 1st will be for mobile to adjust some issues that I noticed after all */
@media screen and (max-width: 480px){
    .wrapper{
        max-width: 100%;
        padding: 0;
    }
}

/* TABLET */
@media screen and (min-width: 768px){
    /* Welcome Section changes */

    /* Layout of the images using grid. I did my best to fix it, but I was strugglinig a lot, so I left in the way that was my best honestly. */
    .coffeeimg{
        display: grid;
        grid-template-columns: repeat(5, 1fr); /* I did 5 because I can't do it with just 4, I tried before but it was weird. But to explain, this means 5 columns in the same size (1fr means divided the 5 equally in 1 fraction */
        grid-template-rows: repeat(4, auto); /* The same for the rows here */
        gap: 1rem;
    }

    .coffeeimg img:nth-child(1){
        grid-column: 1/3; /* This tells to fill from colunm 1 to 3*/
        grid-row: 1/3; /* This tells to fill from row 1 to 3*/
        width: 100%;
        aspect-ratio: 1/1; /* to maintain the images in a square */
        object-fit: cover;
    }

    .coffeeimg img:nth-child(2){
        grid-column: 3/4; /* This tells to fill from colunm 3 to 4*/
        grid-row: 1/2; /* This tells to fill from row 1 to 2*/
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .coffeeimg img:nth-child(3){
        grid-column: 4/5; /* This tells to fill from colunm 4 to 5*/
        grid-row: 1/2; /* This tells to fill from rows 1 to 2*/
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .coffeeimg img:nth-child(4){
        grid-column: 3/4; /* This tells to fill from colunm 3 to 4*/
        grid-row: 2/3; /* This tells to fill from row 2 to 3*/
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .coffeeimg img:nth-child(5){
        grid-column: 4/5; /* This tells to fill from colunm 4 to 5*/
        grid-row: 2/3; /* This tells to fill from row 2 to 3*/
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    /* Visit Section changes - Icons */
    .visit{
        display: grid; /* Creating a grid for the entire visit section */
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }

    /* Adjusting the titles of the section */
    .visit >p:first-of-type,
    .visit >h2:first-of-type{
        grid-column: 1/-1;
        text-align: center;
    }

    /* Adjusting the icons an text of the icons. It's far from perfect, but I did my best and the only way that I knew, honestly. */
    .visit > div:nth-of-type(3){
        grid-column: 2/3;
    }

    .visit > div:nth-of-type(2){
        grid-column: 3/4;
    }

    /* I just did this and becames in the way that show in the mockup so I left like this, which is two columns, 1st one with "our menu" stuff and the other one with "locations" */
    .menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* To be honest, I don't know how to explain what I did properly, I just tried many things. I tried different types of grid, using and not using rows, I tried flex, which was a mess, I tried float but I didn't feel safe, so I choose to maintain grid because in my mind is the way that the assignment expects, but I can't align the text from "Read our story" to start right after "about us", so I was struggling with this part, and because I didn't know how to fix that, I left like this, unfortunately */
    .about{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .about > img{
        grid-column: 1/3;
        width: 100%;
        object-fit: cover;
    }

    .about > p,
    .about > h2{
        grid-column: 3/5;
    }

    .about > a{
        grid-column: 3/4;
    }

    /* Testimonials part */
    .testimonials{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; /* creates space between the images */
    }

    .testimonials > p,
    .testimonials > h2{
        grid-column: 1/-1;
    }

    .testimonials img{
    width: 100%;
    height: 450px; /* to control the vertical axis for the images, to make them more vertical */
    object-fit: cover;
    }
}

/* DESKTOP */
@media screen and (min-width: 1100px){
    header{
        flex-direction: row; /* tranform the before column into row */
        justify-content: space-between; /* create a space between the logo and the navigation words */
        align-items: center;
        padding: 1.5rem 4rem; /* create some space in the rectangle */
    }

    header img{
        margin-bottom: 0; /* to reduce the space between the rectangle of the nav to the hero banner */
    }

    .visit{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* I created 3 columns first to put every icon and their text one besides the other */
        gap: 2rem; /* The space between the icons */
    }

    .visit > div:nth-of-type(2){
        grid-column: 2; /* I put the second icon in the second place and so on (I didn't put the 1st one because it was there already */
    }

     .visit > div:nth-of-type(3){
        grid-column: 3;
    }
}